<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Art Gallery</title>
	<link href="../static/art/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/art/css/style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/art/css/font-awesome.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Aladin" rel="stylesheet">
	<link href='../static/art/css/simplelightbox.min.css' rel='stylesheet' type='text/css'>
	<script src="../static/art/js/jquery-2.1.1.min.js"></script>
	<script src="../static/art/js/bootstrap.min.js"></script>

  </head>
<body>


<section id="header" class="clearfix">
	<nav class="navbar navbar-default">
        <div class="container clearfix">
		    
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header clearfix page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<a href="{% url 'index' %}" class="navbar-brand">Art<span> Gallery</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse clearfix" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="tag_menu" href="{% url 'index' %}">HOME</a>
                    </li>
                     
                    <!-- <li>
                        <a class="tag_menu" href="exhibitions.html">EVENTS</a>
                    </li>
					
					<li>
                        <a class="tag_menu" href="detail.html">DETAIL</a>
                    </li> -->
					
					<li>
                        <a class="tag_menu" href="{% url 'collection' %}">CATEGORIES</a>
                    </li>
                    
					<li>
                        <a class="tag_menu_1 active_tab" href="{% url 'gallery' %}">GALLERY</a>
                    </li>
					
					<li>
                        <a class="tag_menu" href="{% url 'contact' %}">CONTACT US</a>
                    </li>
					
					
					<li class="dropdown"><a class="tag_menu" href="#" data-toggle="dropdown"><span class="fa fa-search"></span></a>
							<ul class="dropdown-menu drop_1" style="min-width: 300px;">
								<li>
									<div class="row_1">
										<div class="col-sm-12">
											<form class="navbar-form navbar-left" role="search">
											<div class="input-group">
												<input type="text" class="form-control" placeholder="Search">
												<span class="input-group-btn">
													<button class="btn btn-primary" type="button">
														Search</button>
												</span>
											</div>
											</form>
										</div>
									</div>
								</li>
							</ul>
						</li>
						
					<li class="dropdown">
						  <a class="tag_menu border_none" href="#" data-toggle="dropdown" role="button" aria-expanded="false">MORE<span class="caret"></span></a>
						  <ul class="dropdown-menu drop_2" role="menu">
							<!-- <li><a href="exhibitions.html">EVENTS</a></li> -->
							<li><a href="{% url 'gallery' %}">GALLERY</a></li>
							<li><a href="{% url 'collection' %}">CATEGORIES</a></li>
							<li><a href="{% url 'contact' %}">CONTACT</a></li>
						  </ul>
						</li>
					
                </ul>
				 
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</section>
<!-- <section id="connect" class="gallery_page">
	<div class="container">
	 <div class="row">
	  <div class="connect clearfix">
	   <h2>GALLERY</h2>
	  </div>
      {% for i in data %}
	  <div class="connect_1 clearfix">
		   <div class="gallery">
			   
			<a href="#" target="_blank"><img src="{{i.gallery_img.url}}" alt=""></a>
			   <div class="clear"></div>
		   </div>
	  </div>
	 </div>
	</div>
   </section>
   {% endfor %} -->

<section id="connect" class="gallery_page">
 <div class="container">
  <div class="row">
   <div class="connect clearfix">
    <h2>Nature</h2>
   </div>

   <div class="connect_1 clearfix">
		<div class="gallery">
			{% for i in data %}
			<a href="{{i.gallery_img.url}}"><img src="{{i.gallery_img.url}}" alt="" title="" ></a>
			{% endfor %}
			<div class="clear"></div>
		</div>
   </div>
  </div>
 </div>
</section>

<section id="sign_up" class="sign_up_collection">
	<div class="container">
	 <div class="row">
	  <div class="sign_up_box text-center clearfix">
	   <h2>  Contact Us </h2>
		<div class="input-group">
		   <input type="text" class="form-control" placeholder="your email address">
		   <span class="input-group-btn">
			   <button class="btn btn-primary" type="button">
				   SUBMIT</button>
		   </span>
		</div>
	  </div>
	 </div>
	</div>
   </section>

<section id="footer">
	<div class="container">
	 <div class="row">
	  <div class="footer clearfix">
	   <div class="footer_1 clearfix">
		 <div class="col-sm-3">
		  <div class="footer_1_left">
		   <h3>Art Gallery</h3>
		   <p>228 C.G Road<br>Near, Sabarmati<br>Amdavad</p>
		  </div>
		 </div>
		 <div class="col-sm-6">
		  <div class="footer_3 clearfix">
		<!-- <p> Registration Open * 11234 0512 SS1110 </p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta.© 2013 Your Website Name. All Rights Reserved | Design by <a href="http://www.templateonweb.com">TemplateOnWeb</a></p> -->
	   </div>
		 </div>
		 <div class="col-sm-3">
		  <div class="footer_1_right pull-right">
		   <!-- <h1>AG <span>Art Gallery</span></h1> -->
		  </div>
		 </div>
	   </div>
	   <div class="footer_2 clearfix">
		 <div class="col-sm-7">
			<div class="footer_2_left">
				<!-- <a href="#">Sign Up For Headlines</a> -->
				<!-- <a href="#">Customer Detail</a> -->
				<a href="{% url 'contact' %}">Connect With Us</a>
				<a href="{% url 'collection' %}">Media</a>
				<a href="{% url 'gallery' %}">Gallery</a>
				<a class="border_none_1" href="#">Policy</a>
			   </div>
		 </div>
		 <div class="col-sm-5">
		  <div class="footer_2_right pull-right">
			 <ul class="social-network social-circle">
						   <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
						   <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						   <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						   <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
						   <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		  </div>
		 </div>
	   </div>
	   
	  </div>
	 </div>
	</div>
   </section>

<div id="toTop" class="btn btn-info" style="display: block; background:#e02626; border-color:#e02626;"><span class="fa fa-chevron-up"></span></div>

<script type="text/javascript">
$(document).ready(function(){
  $('body').append('<div id="toTop" class="btn btn-info"><span class="glyphicon glyphicon-chevron-up"></span> Back to Top</div>');
	$(window).scroll(function () {
		if ($(this).scrollTop() != 0) {
			$('#toTop').fadeIn();
		} else {
			$('#toTop').fadeOut();
		}
	}); 
$('#toTop').click(function(){
	$("html, body").animate({ scrollTop: 0 }, 600);
	return false;
});
});

</script>

<script type="text/javascript" src="js/simple-lightbox.js"></script>

<script>
	$(function(){
		var $gallery = $('.gallery a').simpleLightbox();

		$gallery.on('show.simplelightbox', function(){
			console.log('Requested for showing');
		})
		.on('shown.simplelightbox', function(){
			console.log('Shown');
		})
		.on('close.simplelightbox', function(){
			console.log('Requested for closing');
		})
		.on('closed.simplelightbox', function(){
			console.log('Closed');
		})
		.on('change.simplelightbox', function(){
			console.log('Requested for change');
		})
		.on('next.simplelightbox', function(){
			console.log('Requested for next');
		})
		.on('prev.simplelightbox', function(){
			console.log('Requested for prev');
		})
		.on('nextImageLoaded.simplelightbox', function(){
			console.log('Next image loaded');
		})
		.on('prevImageLoaded.simplelightbox', function(){
			console.log('Prev image loaded');
		})
		.on('changed.simplelightbox', function(){
			console.log('Image changed');
		})
		.on('nextDone.simplelightbox', function(){
			console.log('Image changed to next');
		})
		.on('prevDone.simplelightbox', function(){
			console.log('Image changed to prev');
		})
		.on('error.simplelightbox', function(e){
			console.log('No image found, go to the next/prev');
			console.log(e);
		});
	});
</script>
</body>
       
</html>
